#map {
  height: 180px;
}

body {
  margin: 0;
}

body .cont {
  display: flex;
  height: 100vh;
  width: 100%;
  gap: 3%;
  justify-content: center;
  align-items: center;
  padding: 0;
  background: rgb(34, 73, 82);
}

body .info-cont{
  box-shadow: rgba(50, 50, 93, 0.25) 0px 30px 60px -12px inset, rgba(0, 0, 0, 0.3) 0px 18px 36px -18px inset;
  font-family: 'Yeon Sung', cursive;
}
.info-cont p{
  font-size: 40px;
}
body ul li {
  list-style: none;
  margin-bottom: 10%;
  font-size: 20px;
}
.info-cont ul{
  padding-top: 2rem;
  padding-left: 7rem;
}
/* Sidebar-Menu */
.menu-container {
  height: 100vh;
  width: 83%;
  position: absolute;
  background-color: #fff;
  font-family: 'Yeon Sung', cursive;
  z-index: 2000;
  transition: 0.3s ease;
  transform: translateX(-113%);
  box-shadow: rgba(0, 0, 0, 0.25) 0px 54px 55px, rgba(0, 0, 0, 0.12) 0px -12px 30px, rgba(0, 0, 0, 0.12) 0px 4px 6px, rgba(0, 0, 0, 0.17) 0px 12px 13px, rgba(0, 0, 0, 0.09) 0px -3px 5px;
}

.form-menu {
  -webkit-appearance: none;
  visibility: hidden;
  display: none;
}

.menu {
  position: absolute;
  right: -90px;
  top: 20px;
  font-size: 20px;
  border-radius: 3px;
  padding: 5px 8px;
  cursor: pointer;
  background: #fff
}

#bar {
  background: #fff;
}

#check:checked~.menu-container {
  transform: translateX(0);
}

#check:checked~.menu-container #bar {
  display: none;
}
.leaflet-container{
  box-shadow: rgba(0, 0, 0, 0.56) 0px 22px 70px 4px;
}
.leaflet-control {
  z-index: 700 !important;
}

.leaflet-top {
  z-index: 900 !important;
}

.leaflet-bottom {
  z-index: 900 !important;
}

.popup {
  font-family: 'Yeon Sung', cursive;
  font-size: large;
  font-weight: 1000;
  width: 100%;
  height: 100%;
  padding: 15px 3px;
  cursor: pointer;
}
.modal-content{
  font-family: 'Yeon Sung', cursive;
}

.menu-container Button{
  box-shadow: rgba(0, 0, 0, 0.56) 0px 22px 70px 4px;
}