#map {
  height: 180px;
}
body {
  margin: 0;
}
body .cont{
  display: flex;
  height: 100vh; 
  width: 100%;
  gap: 3%;
  justify-content: center;
  align-items: center;
  padding: 0;
  background: rgb(34,73,82);
}

 /* Sidebar-Menu */
 .menu-container {
   height: 100vh;
   width: 83%;
   position: absolute;
   background-color: #fff;
   z-index: 1;
   transition: 0.3s ease;
   transform: translateX(-113%);
 }

 input {
   -webkit-appearance: none;
   visibility: hidden;
   display: none;
 }

 span {
   position: absolute;
   right: -70px;
   top: 30px;
   font-size: 20px;
   border-radius: 3px;
   padding: 5px 8px;
   cursor: pointer;
   background: #fff
 }

 #bar {
   background: #fff;
 }

 #check:checked~.menu-container {
   transform: translateX(0);
 }

 #check:checked~.menu-container #bar {
   display: none;
 }

